/* Fondo general de la ventana */
.root {
    -fx-background-color: black;
    -fx-font-family: Arial, sans-serif;
}

.paletas{
    -fx-color:white;
}



/* Botones estilo minimalista */
.button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Efecto presionado */
.button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

/* Efecto hover */
.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}